
<div class="description pb-3">
    <span>Hình ảnh</span>
    <div class="font-weight-bold">(Chú ý: Hình upload không được quá 8MB!)</div>
</div>
<div class="container" (fileDropped)="onFileDropped($event)">
	<input type="file" accept="image/*" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
	<h3>Kéo và thả hình ảnh vào đây ...</h3>
	<h3>or</h3>
	<label for="fileDropRef">Chọn hình ảnh từ máy</label>
</div>
<ng-container *ngIf="files?.length">
    <div class="files-list container">
        <div class="pb-3">
            Danh sách hình đã chọn
        </div>
        <div class="row">
            <div class="col-6" *ngFor="let file of files; let i = index">
                <div class="single-file">
                    <img [src]="file?.src" class="imgPlaceholder">
                    <div class="info">
                        <span>{{ formatBytes(file?.size, 0) }}</span>
                        <span class="delete-icon" (click)="deleteFile(i)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="confirm-upload">
        <span class="btn-confirm" (click)="uploadFiles()">
            Upload hình
        </span>
    </div>
</ng-container>
