:host {
    width: fit-content;
    min-width: 180px;
    border-right: 1px solid rgba(0,0,0,.12);
}

mat-list-item {
    cursor: pointer;
}

.active {
    background: rgba(63,81,181,.15);
    color: #3f51b5;
}